body
{
	background-image: url("bg 1.jpg");
	font-family: 'Quicksand', sans-serif;
}

	.login_div1 , .login_div2
	{
		
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
     margin-left: 20px;

}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: #fff;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

h1{
	font-size: 50px;
}